// Place all the styles related to the Static_Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#0D0D0D - #404040 - #595959 - #8C8C8C - #A6986D


@import "bulma";

html,
body {
    height: 100%;
    font-family: 'Grenze', serif;
}
.columns {
    height: 500vh;
}
.roboto-font {
    font-family: 'Roboto Mono', monospace;
}

//navigation
.header {
    text-align: center;
}
#nav {
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 120px;
    height: 150vh;
    position: fixed;
    background-color: #404040;
}
.navbar {
    width: 100%;
    background-color: #404040;
}
.navbar-burger{
    display: none;
}
.menu-list {
    margin-top: 12px;
}
.menu-list li {
    margin-left: 9px;
}
.menu-list a{
    color: #E6F1F5;
    padding: 0.5em 1.9em;
}
.image {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 10px;
}
.image img {
    width: 70px;
    height: 70px;
}

//index
.main {
    height: 100%;
    margin-left: 19vh;
    background-color: #0d0d0d;
}
.portfolio img {
    max-width: 150px;
    max-height: 300px;
}

.container {
    padding: 0 20px;
    margin-top: 2em;
    margin-bottom: 4em;
    align-items: center;
    align-content: center;
}

@media (max-width: 762px) {
    #nav {
        width: 105%;
        height: 4.25rem;
    }
    .image {
        padding-top: 15px;
        margin-left: 10px;
        padding-bottom: 3px;
    }
    .image img {
        width: 50px;
        height: 50px;
    }
    .navbar-burger{
        display: block;
    }
    .navbar-burger span {
        width: 22px;
        height: 2px;
        margin-top: 11px;
        left: calc(50% - 22px);
    }
    .menu-list {
        margin-top: 0px;
    }
    .menu-list li a{
        padding-left: 24px;
    }
    .main {
        margin: 0 auto;
    }
    main .header {
        margin-top: 23vh;
    }

}


