<div id="nav" class="column is-2 is-one-fifth">
    <div class="navbar-brand ">
        <figure class="image">
            <%= image_tag "perfil.jpeg", class: "is-rounded" %>
        </figure>
        <div role="button" class="navbar-burger" aria-label="menu" data-target="menu-list">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div> 
    </div>
    <nav class="navbar is-sidebar-menu is-hidden-mobile">
        <ul class="menu-list">
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Portfólio</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
</div>
   
<script>
    $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
        
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar").toggleClass("is-hidden-mobile");
        
        });
    });
</script>